<p>
  &copy; <%= current_year %> TaranyukK
</p>

<p>
  <%= github_url('TaranyukK', 'TestGuru') %> - Сайт для создания и прохождения тестов.
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</p>
