<p>
  &copy; <%= current_year %> TaranyukK
</p>

<p>
  <%= link_to 'TestGuru', github_url('TaranyukK', 'TestGuru'), target: '_blank' %> - Сайт для создания и прохождения тестов.
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</p>
