<div class="footer">
  <p>
    &copy; <%= current_year %> TaranyukK
  </p>

  <p>
    <%= t('.description', url: github_url('TaranyukK', 'TestGuru')).html_safe %>.
    <%= link_to t('.thinknetica'), 'https://thinknetica.com', target: '_blank' %>
  </p>
</div>
