<h1>TestGuru</h1>

<h3>Проект для:</h3>
<h4>
  <ul>
    <li>Создания и управления тестов</li>
    <li>Прохождение тестов</li>
    <li>Аутентификация</li>
    <li>Разгарничение прав</li>
    <li>Публикация результатов в соцсети</li>
  </ul>
</h4>
<h4>Разработано с помощью уроков от онлайн-школы <a href='https://thinknetica.com/'>Thinknetica</a></h4>
